*, *::before, *::after {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}
body,
h1, h2, h3, h4,
p, div,
ul, ol, li,
figure, figcaption, blockquote,
dl, dd {
    margin: 0;
}
ul, ol {
    list-style: none;
    padding: 0;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
img {
    max-width: 100%;
    display: block;
}
article > * + * {
    margin-top: 1rem;
}
input,
button,
textarea,
select {
    font: inherit;
}
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* ********************************************* */

html,
body {
    height: 100%;
}
html {
    font-size: 16px;
}
body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 90rem;
}
h1 {
    color: #111111;
    font-weight: 500;
    font-size: 2.5625rem;
    line-height: 3.25rem;
}
h1 > span {
    color: #2F80ED;
}
h2 {
    color: #111111;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3rem;
}
h3 {
    color: #111111;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2.0625rem;
}
h4 {
    color: #718094;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 2rem;
}
h5 {
    color: #718094;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.75rem;
}
h6 {
    color: #111111;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}
a {
    cursor: pointer;
    text-decoration: none;
}
p {
    color: #718094;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 8.61% 1.5rem 9.375%;
}
.joomplace-logo img {
    margin-top: 1.375rem;
    max-height: 2.125rem;
}
.top-menu {
    margin-top: 1.375rem;
}
.top-menu > ul {
    display: flex;
    align-items: center;
}
.top-menu li {
    margin-left: 3.125rem;
}
.top-menu a {
    color: #000;
    display: inline-block;
    width: 100%;
}
.top-menu a.site-inner.active {
    border-bottom: 0.125rem solid #2F80ED;
}
.btn-contact-us {
    background: #2F80ED;
    border-radius: 0.1875rem;
    color: #fff !important;
    padding: 0.5rem 1.5rem;
}
@media (max-width: 726px) {
    header {
        flex-direction: column;
    }
    .top-menu li {
        margin-right: 3.125rem;
        margin-left: 0;
    }
    .top-menu li:last-of-type {
        margin-right: 0;
    }
}
@media (max-width: 515px) {
    header {
        padding: 0 2rem;
    }
    .top-menu li {
        margin-right: 2rem;
    }
}
@media (max-width: 400px) {
    header {
        border-bottom: 0.0625rem solid #D4E1F2;
        padding: 2rem 2rem 1.5rem;
    }
    .top-menu > ul {
        align-items: flex-start;
        flex-direction: column;
    }
    .top-menu li {
        margin-bottom: 0.5rem;
    }
}

/* main */
main {
    flex: 1 0 auto;
    padding: 0;
}

/* footer */
footer {
    flex: 0 0 auto;
    border-top: 0.0625rem solid #D4E1F2;
    padding: 1rem 9.375% 3rem;
}
.footer-disclaimer {
    margin: 1.5rem 0;
    max-width: 75%;
}
.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #111;
}
.footer-copyright a {
    color: #2F80ED;
}
.footer-social-networks > ul {
    display: flex;
    align-items: center;
    line-height: 0;
}
.footer-social-networks a {
    display: inline-block;
    margin-left: 2.25rem;
}
.footer-social-networks a.facebook>img {
    height: 1.5rem;
    width: 1.5rem;
}
.footer-social-networks a.twitter>img {
    height: 1.219375rem;
    width: 1.5rem;
}
.footer-social-networks a.linkedin>img {
    height: 1.5rem;
    width: 1.5rem;
}
.footer-social-networks a.rss>img {
    height: 1.25rem;
    width: 1.25rem;
}
@media (max-width: 726px) {
    .footer-links {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-social-networks > ul {
        margin-top: 1rem;
    }
    .footer-social-networks a {
        margin-right: 2.25rem;
        margin-left: 0;
    }
}

/* Home page */
.home-banner {
    background: url("../images/pages/home/banner_circles.svg") no-repeat;
    background-position: center;
    background-size: contain;
    border-bottom: 0.0625rem solid #D4E1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    min-height: 25.25rem;
}
.home-banner-text {    /* h4 */
    color: #718094;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 2rem;
    margin: 0.75rem 0 2.5rem;
}
.home-banner-button {
    background: #2F80ED;
    border-radius: 0.4375rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    padding: 1.5rem 2rem;
}
.home-intro {
    display: flex;
    align-items: center;
    padding: 4.375rem 0;
}
.home-intro > * {
    width: 50%;
}
.home-intro > h2 {
    padding-left: 16.32%;
    padding-right: 6.94%;
}
.home-intro > p {
    font-size: 1.1875rem;
    line-height: 1.75rem;
    padding-left: 1.875%;
    padding-right: 12%;
}
.home-extension {
    display: flex;
    padding: 4.375rem 0;
}
.home-extension.quiz,
.home-extension.testimonials,
.home-documentation {
    background: #F8FAFF;
}
.home-extension.text-left > div,
.home-extension.text-right > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.home-extension.text-left > div:first-of-type,
.home-extension.text-right > div {
    flex-direction: column;
    align-items: flex-start;
}
.home-extension.text-left > div:first-of-type,
.home-extension.text-right > div:first-of-type {
    padding-left: 16.32%;
}
.home-extension.text-right > div:last-of-type {
    padding-left: 11.81%;
}
.home-extension.text-left > div:first-of-type > *,
.home-extension.text-right > div:last-of-type > * {
    max-width: 82.47%;
}
.home-extension.text-left > div:last-of-type > * {
    max-width: 44.44%;
}
.home-extension p {  /* h6 */
    color: #111111;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.75rem 0;
}
.home-extension img {
    width: 44.44%;
}
.home-extension.text-right img {
    width: 65.98%;
}
.home-extension .github-button {
    background: #111;
    border-radius: 0.1875rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    height: 2.9375rem;
    width: 8.4375rem;
}
.home-extension.text-center {
    flex-direction: column;
    align-items: center;
}
.home-extension.text-center p {
    max-width: 42.92%;
    text-align: center;
}
.home-extension.text-center img {
    max-width: 22.22%;
    margin-bottom: 1.75rem;
}
.home-extension.flippingbook,
.home-extension.checklist,
.home-extension.goals,
.home-extension.joomblog
{
    background: url("../images/bg.png") no-repeat;
    background-position: center;
    background-size: cover;
}
.home-documentation {
    background: url("../images/pages/home/documentation_circles.svg") no-repeat;
    background-position-y: center;
    background-position-x: 85%;
    background-color: #F8FAFF;
    padding: 6.25rem 45.347% 6.25rem 16.32%;
}
.home-documentation p,
.home-contact p {         /* h5 */
    color: #718094;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.75rem;
}
.home-documentation p {
    margin: 1rem 0 2.5rem;
}
.home-documentation .documentation-button,
.btn-contact-us.homepage {
    background: #2F80ED;
    border-radius: 0.4375rem;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4375rem;
}
.home-documentation .documentation-button {
    padding: 1.5rem 2rem;
}
.home-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.375rem 0;
}
.home-custom-wrapper {
    display: flex;
}
.home-custom-inner {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.home-custom-inner:first-of-type {
    padding-left: 16.32%;
    padding-right: 5.9%;
}
.home-custom-inner:last-of-type {
    padding-left: 5.9%;
    padding-right: 16.32%;
}
.home-custom-inner > div {
    display: flex;
    align-items: center;
    margin: 3.125rem 0 2.375rem;
}
.home-custom-inner p {   /* h6 */
    color: #111111;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}
.home-custom img {
    display: inline-block;
    margin-right: 1.75rem;
    width: 4.5rem;
}
.home-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 7rem;
    text-align: center;
}
.home-contact p {
    margin-bottom: 2.5rem;
}
.btn-contact-us.homepage {
    padding: 1.5rem 3.25rem;
}
@media (max-width: 980px) {
    .home-extension.text-left > div:last-of-type > * {
        max-width: 70%;
    }
    .home-extension img {
        width: 70%;
    }
    .home-documentation {
        padding-right: 16.32%;
    }
    .home-custom {
        padding: 2rem 0;
    }
}
@media (max-width: 726px) {
    .home-banner {
        min-height: 20rem;
    }
    .home-extension {
        flex-direction: column;
        position: relative;
    }
    .home-extension.text-left > div,
    .home-extension.text-right > div {
        width: 100%;
    }
    .home-extension.text-left > div:first-of-type,
    .home-extension.text-right > div {
        align-items: center;
        padding-left: 0 !important;
    }
    .home-extension.text-center p {
        max-width: 70%;
    }
    .home-extension img {
        max-width: 11.34rem !important;
    }
    .home-extension.text-left a,
    .home-extension.text-right a {
        margin-top: 9.0625rem;
    }
    .home-extension.checklist a, .home-extension.memorials a {
        margin-top: 11.75rem;
    }
    .home-extension.joomblog a {
        margin-top: 13.5rem;
    }
    .home-extension.text-left > div:last-of-type,
    .home-extension.text-right > div:first-of-type {
        position: absolute;
        bottom: 9.0625rem;
        left: 0;
    }
    .home-banner h1, .home-banner p,
    .home-extension p,
    .home-custom-inner p {
        text-align: center;
    }
    .home-documentation {
        background: none;
        padding: 4rem 2rem;
        text-align: center;
    }
    .home-custom-wrapper {
        flex-direction: column;
    }
    .home-custom-inner {
        padding-right: 16.32% !important;
        width: 100%;
    }
    .home-custom-inner:last-of-type {
        padding-left: 16.32%;
    }
    .home-custom-inner > div {
        justify-content: center;
    }
}
@media (max-width: 670px) {
    .home-banner {
        background: none;
    }
    .home-intro {
        flex-direction: column;
        padding: 2.5rem 2rem;
    }
    .home-intro > * {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 100%;
    }
    .home-intro > h2 {
        margin-bottom: 1rem;
        text-align: center;
    }
}
@media (max-width: 480px) {
    .home-banner-button {
        padding: 1rem;
        font-size: 1rem;
        text-align: center;
    }
    .home-custom {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .home-custom h2 {
        text-align: center;
    }
    .home-custom-inner {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .home-custom img {
        width: 3rem;
    }
    .home-contact {
        padding: 2rem 2rem 3.5rem;
    }
}
/* Home page end */

/* Payment page */
.payment {
    padding: 6.25rem 0 2rem 0;
}
.payment h1 {
    margin-bottom: 0.5rem;
    text-align: center;
}
.payment p {  /* h4 */
    color: #718094;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 2rem;
    text-align: center;
}
.payment-steps {
    margin: 2rem 0 4rem;
}
.payment-steps > li {  /* h6 */
    color: #111111;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    background: url("../images/pages/payment/payment_process_circle.svg") no-repeat 0 0.25rem;
    padding-left: 1.5rem;
    margin-bottom: 0.75rem;
}
.payment-process {
    display: flex;
    padding: 4.0625rem 0 0 9.375%;
    position: relative;
}
.payment-box-wrapper {
    text-align: right;
    width: 100%;
}
.payment-box-wrapper img {
    display: inline-block;
    margin-right: 23%;
    height: 18.9375rem;
    width: 15.3125rem;
}
.link-2Checkout {
    text-decoration: underline;
}
.payment-form {
    display: flex;
    align-items: center;
}
.payment-quantity-label {  /* h3 */
    color: #111111;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2.0625rem;
    margin-right: 3.5rem;
}
.payment-quantity-row {
    display: flex;
    position: relative;
}
.payment-price {
    color: #111;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: -2.5rem;
}
.payment-total {
    color: #111;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 4.5rem;
}
.payment-quantity-row > input {
    background: #fff;
    color: #2F80ED;
    line-height: 2.0625rem;
}
.payment-quantity-button {
    border: 0.0625rem solid #DAE7F8;
    cursor: pointer;
    font-size: 2.875rem;
    font-weight: 300;
    padding: 0;
    height: 3.5rem;
    width: 4.5rem;
}
.payment-quantity-button.btn-minus {
    border-radius: 0.3125rem 0 0 0.3125rem;
}
.payment-quantity-button.btn-plus {
    border-radius: 0 0.3125rem 0.3125rem 0;
}
.payment-quantity {
    border-top: 0.0625rem solid #DAE7F8;
    border-bottom: 0.0625rem solid #DAE7F8;
    border-right: none;
    border-left: none;
    font-size: 1.75rem;
    font-weight: 500;
    height: 3.5rem;
    width: 9.625rem;
    text-align: center;
    outline: none;
}
.payment-link {
    background: #2F80ED;
    border-radius: 0.4375rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    padding: 1.5rem 5.25rem;
    margin-left: 3.5rem;
}
.payment-note {
    color: #718094;
    margin: 3.5rem 0 0;
}
@media (max-width: 1190px) {
    .payment {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .payment-process {
        padding-left: 0;
        padding-right: 0;
    }
    .payment-box-wrapper img {
        margin-right: 1rem;
    }
}
@media (max-width: 1100px) {
    .payment-box-wrapper {
        position: absolute;
        top: 2rem;
        right: 0;
    }
}
@media (max-width: 870px) {
    .payment-box-wrapper img {
        width: 10rem;
        height: auto;
        margin-right: 3.5rem;
    }
}
@media (max-width: 820px) {
    .payment-form {
        flex-direction: column;
    }
    .payment-price {
        top: -4rem;
    }
    .payment-quantity-label {
        margin: 0 0 0.5rem 0;
    }
    .payment-link {
        margin: 3.25rem 0 0 0;
    }
    .payment-total {
        right: 50%;
        margin-right: -2.625rem;
    }
    .payment-note {
        margin-bottom: 2.5rem;
    }
}
@media (max-width: 670px) {
    .payment {
        padding-top: 2.5rem;
    }
    .payment-box-wrapper img {
        margin-right: 0;
    }
}
@media (max-width: 570px) {
    .payment-process {
        padding-top: 2rem;
    }
    .payment-box-wrapper {
        display: none;
    }
}
@media (max-width: 420px) {
    .payment {
        padding: 2.5rem 0.5rem 1rem;
    }
}
/* Payment page end */

/* Github page */
.github {
    padding: 4.375rem 9.375% 3rem;
}
.github h1 {
    margin-bottom: 3rem;
    text-align: center;
}
.github h2 {
    margin: 1.5rem 0;
}
.github p, .github li {  /*h6 */
    color: #111111;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}
.github ul {
    margin: 1rem 0 1.5rem;
}
.github li {
    background: url("../images/pages/github/github_lists_circle.svg") no-repeat 0 0.25rem;
    padding-left: 1.5rem;
    margin-bottom: 0.75rem;
}
.github a {
    text-decoration: underline;
}
/* Github page end */

